<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="imp_project.editors.IMPEditor"
            name="IMP Editor"
            icon="icons/sample.png"
            extensions="imp"
            class="imp_project.editors.IMPEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
   </extension>

</plugin>
